
/** General page styling **/
html {
    background-color: #e5e5e5;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif;
}

body {
    background-color: #e5e5e5;
}

input, .new-data {
    max-width: 60%;
    margin-right: 5px;
    float: left;
}

.new-data, span.flag {
    display: none;
}

